body {
  margin: 5vh auto 0;
  max-width: 900px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
}
.header-all {
  /* margin: 0px 0px; */
  display: flex;
  margin-left: 15%;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 20px;
  
}
.header-all h1 {
  margin-left: -2%;
}
.header-all h1 span {
  color: #b7b7b7;
  font-weight: 100;
}
.header-task {
  /* margin: 20px 50px 5px; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}
.header-task h1 {
  text-align: center;
  width: 60%;
  border-bottom: 2px solid #b7b7b7;
  line-height: 1px;
}
.header-task h1 span {
  background-color: #fff;
}
.header-all a,
.header-task a {
  text-decoration: none;
  outline: none;
  color: #818181;
  font-size: 1.9rem;
  font-weight: 400;
}
.header-all a i,
.header-task a i {
  color: #e74c3c;
  font-size: 120%;
}
.newone{
  margin-left: 40%;
}


.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}
.main-task .card {
  flex: 0 45%;
  height: 350px;
}
.card {
  position: relative;
  flex: 0 25%;
  margin: 2%;
  height: 300px;
  border: 1px solid #f4b1aa;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #c3c3c3a1;
  overflow: auto;
  text-align: center;
}
.card a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  color: #f07568;
  margin-top: 15px;
}
.card hr {
  color: #000;
  width: 80%;
  height: 0.01px;
  margin: 10px 0 15px auto;
}
.card p.task {
  font-size: 16px;
  margin: 5px;
}
.card p.task.completed {
  color: #e74c3c;
  text-decoration: line-through 3px red;
}
.card p.task.pending {
  color: black;
  text-align: start;
  padding-left: 20px;
}
.card a.add-item {
  width: initial;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  display: none;
}
.modal a {
  width: 100%;
  height: 100vh;
  position: absolute;
  cursor: default;
  text-decoration: none;
  outline: none;
}
#modal:target,
#modal:target .modal-content {
  opacity: 1;
  visibility: visible;
  display: block;
}
.modal-content {
  background-color: white;
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
  border: 2px solid #f4b1aa;
  border-radius: 8px;
  box-shadow: 7px 7px 5px grey;
  padding: 20px 30px;
  text-align: center;
  max-width: 50vw;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.modal-content h3 {
  font-weight: 500;
  color: #f07568;
  margin: 0 0 20px;
}
.modal-content input {
  border: 1px solid #f4b1aa;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #c3c3c3a1;
  font-size: 1.5rem;
  max-width: 80%;
}
.modal-content button {
  background-color: #e74c3c;
  color: white;
  border: 0;
  border-radius: 25px;
  padding: 10 20px;
  font-size: large;
  margin: 10px 0 0;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .header-all {
      justify-content: space-evenly;
      margin-left: 1%;
      font-size: 15px;
  }
  .header-task {
      flex-flow: row wrap;
      justify-content: center;
  }
  .header-task h1 {
      border-bottom: none;
      flex: 1 1 content;
      order: 2;
  }
  .header-task h1 span {
      background-color: #fff;
  }
  .header-all a,
  .header-task a {
      font-size: 1.5rem;
  }
  .header-all a span,
  .header-task a span {
      display: none;
  }
  .main-task .card {
      flex: 0 80%;
      height: 350px;
  }
  .main-all {
      flex-direction: column;
  }
  .main-all .card {
      overflow: hidden;
  }
  .main-all .card a {
      text-align: left;
      padding-left: 2rem;
      font-size: 20px;
      color: #333;
      margin: 15px;
  }
  .main-all .card hr {
      display: none;
  }
  .main-all .card p.task {
      display: none;
  }
  .main-all .card p.task.completed {
      display: none;
  }
  .main-all .card p.task.pending {
      display: none;
  }
  .newone{
    margin-left: 10%;
  }
}